<a href='/auth/logout'>Logout</a>

<h1>{{username}} Profile Page </h1>
<br />
<h2>{{email}}</h2>
<hr />
<h2>Favorite places</h2>
{{#each favoriteLeisure}}
  <p>{{this.name}}</p>
  <form action="/leisureSpots/removeFavs/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
{{/each}}
<br>
{{#each favoriteFooddrink}}
  <p>{{this.name}}</p>
    <form action="/fooddrinkSpots/removeFavs/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
{{/each}}
<br>
{{#each favoriteCulture}}
  <p>{{this.name}}</p>
    <form action="/cultureSpots/removeFavs/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
{{/each}}
<br>
<hr />
<h2>Personal reviews</h2>
{{#each reviewCulture}}
  <p>{{this.content}}</p>
  <!-- Deleting the Review -->
    <form action='/{{_id}}/culture-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
{{/each}}
{{#each reviewLeisure}}
  <p>{{this.content}}</p>
  <!-- Deleting the Review -->
    <form action='/{{_id}}/leisure-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
{{/each}}
{{#each reviewFooddrink}}
  <p>{{this.content}}</p>
  <!-- Deleting the Review -->
    <form action='/{{_id}}/fooddrink-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
{{/each}}
<hr />
<br>
<a href='/'>Return to main menu</a>