  <div class="wrapper">
    {{!-- Sidebar --}}
    <aside class="sidebar">
      <div class="logo">
        <a href='/index'><img
          src='/images/ironhack-symbol.png'
          alt='logo'
        /></a><h2>Hack AfterHours</h2>
      </div>
      <ul class="links">
        <h4>Home</h4>
        <li>
          <span class="material-symbols-outlined">dashboard</span>
          <a href="/about">About</a>
        </li>
        <li>
          <span class="material-symbols-outlined">share</span>
          <a href="/contacts">Contacts</a>
        </li>
        <hr>
        <h4>Categories</h4>
        <li>
          <span class="material-symbols-outlined">church</span>
          <a href="/cultureSpots">Culture Spots</a>
        </li>
        <li>
          <span class="material-symbols-outlined">fastfood</span>
          <a href="/fooddrinkSpots">Food and Drink Spots</a>
        </li>
        <li>
          <span class="material-symbols-outlined">water_lux</span>
          <a href="/leisureSpots">Leisure Spots</a>
        </li>
        <hr>
        <h4>My Account</h4>
        <li>
          <span class="material-symbols-outlined">person</span>
          <a href="/profile">My Profile</a>
        </li>
        <li>
          <span class="material-symbols-outlined">person_add</span>
          <a href="/auth/signup">Signup</a>
        </li>
        <li>
          <span class="material-symbols-outlined">login</span>
          <a href="/auth/login">Login</a>
        </li>
        <li class="logout-link">
          <span class="material-symbols-outlined">logout</span>
          <a href="/auth/logout">Logout</a>
        </li>
      </ul>
    </aside>

    {{!-- Profile Content --}}
  <a href='/auth/logout'>Logout</a>

  <h2>Profile Page </h2>
  <br />
  <h3>Hello {{username}}!</h3>
  <h3>{{email}}</h3>
  <hr />
  <h3>Favorite places</h3>
  {{#each favoriteLeisure}}
  <p>{{this.name}}</p>
  <form action="/profile/removeFavs/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
  {{/each}}
  <br>
  {{#each favoriteFooddrink}}
  <p>{{this.name}}</p>
    <form action="/profile/removeFavs/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
    {{/each}}
<br>
  {{#each favoriteCulture}}
  <p>{{this.name}}</p>
    <form action="/profile/removeFavs/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
  {{/each}}
  <br>
  <hr />
  <h3>Personal reviews</h3>
  {{#each reviewCulture}}
  <p>{{this.content}}</p>
  <p>Spot:{{foundCultureSpot.name}}</p>
  <!-- Deleting the Review -->
    <form action='/{{_id}}/culture-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
  {{/each}}
  {{#each reviewLeisure}}
  <p>{{this.content}}</p>
  <!-- Deleting the Review -->
    <form action='/{{_id}}/leisure-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
  {{/each}}
  {{#each reviewFooddrink}}
  <p>{{this.content}}</p>  
  <!-- Deleting the Review -->
    <form action='/{{_id}}/fooddrink-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
  {{/each}}
  <hr />
  <br>
  <a href='/index'>Return to main spots menu</a>

</div>
  