<div class="wrapper">
      {{!-- Profile Content --}}
  <h2>Profile Page </h2>
  <br />
  <h3>Hello {{username}}!</h3>
  <h3>{{email}}</h3>
  <hr />
  <h3>Favorite places</h3>
  <div class="show-favs">
    {{#each favoriteLeisure}}
      <div class="fav-card">
        <div class="fav-info">
          <img class='img-list' src='{{this.imgUrl}}' alt='' />
          <p>{{this.name}}</p>
        </div>
        <div class="fav-button">
          <form action="/profile/removeFavs/{{_id}}" method="post">
            <button class="fav-del-button" type="submit">Delete</button>
          </form>
        </div>
      </div>
    {{/each}}

    {{#each favoriteFooddrink}}
      <div class="fav-card">
        <div class="fav-info">
          <img class='img-list' src='{{this.imgUrl}}' alt='' />
          <p>{{this.name}}</p>
        </div>
        <div class="fav-button">
          <form action="/profile/removeFavs/{{_id}}" method="post">
            <button class="fav-del-button" type="submit">Delete</button>
          </form>
        </div>
      </div>
    {{/each}}

    {{#each favoriteCulture}}
      <div class="fav-card">
        <div class="fav-info">
          <img class='img-list' src='{{this.imgUrl}}' alt='' />
          <p>{{this.name}}</p>
        </div>
        <div class="fav-button">
          <form action="/profile/removeFavs/{{_id}}" method="post">
            <button class="fav-del-button" type="submit">Delete</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
  <br>
  <hr />

  <h3>Personal reviews</h3>
  {{#each reviewCulture}}
  <p>{{this.content}}</p>
  <p>Spot:{{foundCultureSpot.name}}</p>
  <!-- Deleting the Review -->
    <form action='/{{_id}}/culture-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
  {{/each}}
  {{#each reviewLeisure}}
  <p>{{this.content}}</p>
  <!-- Deleting the Review -->
    <form action='/{{_id}}/leisure-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
  {{/each}}
  {{#each reviewFooddrink}}
  <p>{{this.content}}</p>  
  <!-- Deleting the Review -->
    <form action='/{{_id}}/fooddrink-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
  {{/each}}
  <hr />
  <br>
  <a href='/index'>Return to main spots menu</a>

</div>
  