  <div class="wrapper">
      {{!-- Profile Content --}}
  <h2>Profile Page </h2>
  <br />
  <h3>Hello {{username}}!</h3>
  <h3>{{email}}</h3>
  <hr />
  <h3>Favorite places</h3>
  {{#each favoriteLeisure}}
  <p>{{this.name}}</p>
  <form action="/profile/removeFavs/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
  {{/each}}
  <br>
  {{#each favoriteFooddrink}}
  <p>{{this.name}}</p>
    <form action="/profile/removeFavs/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
    {{/each}}
<br>
  {{#each favoriteCulture}}
  <p>{{this.name}}</p>
    <form action="/profile/removeFavs/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
  {{/each}}
  <br>
  <hr />
  <h3>Personal reviews</h3>
  {{#each reviewCulture}}
  <p>{{this.content}}</p>
  <p>Spot:{{foundCultureSpot.name}}</p>
  <!-- Deleting the Review -->
    <form action='/{{_id}}/culture-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
  {{/each}}
  {{#each reviewLeisure}}
  <p>{{this.content}}</p>
  <!-- Deleting the Review -->
    <form action='/{{_id}}/leisure-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
  {{/each}}
  {{#each reviewFooddrink}}
  <p>{{this.content}}</p>  
  <!-- Deleting the Review -->
    <form action='/{{_id}}/fooddrink-delete/{{../_id}}' method='post'>
      <button type='submit'>Delete</button>
    </form>
  {{/each}}
  <hr />
  <br>
  <a href='/index'>Return to main spots menu</a>

</div>
  