<div class="wrapper">
      {{!-- Profile Content --}}
  <h2>Profile Page </h2>
  <br />
  <h3>Hello {{username}}!</h3>
  <br>
  <hr />
  <br>
  <h3>Favorite places</h3>
  <div class="show-favs">
    {{#each favoriteLeisure}}
      <div class="fav-card">
        <div class="fav-img-wrapper">
          <img src='{{this.imgUrl}}' alt='' />
        </div>
        <div class="fav-info">
          <p>{{this.name}}</p>        
          <form action="/profile/removeFavs/{{_id}}" method="post">
            <button class="button" type="submit">Delete</button>
          </form>        
        </div>
      </div>
    {{/each}}

    {{#each favoriteFooddrink}}
      <div class="fav-card">
        <div class="fav-img-wrapper">
          <img src='{{this.imgUrl}}' alt='' />
        </div>
        <div class="fav-info">
          <p>{{this.name}}</p>        
          <form action="/profile/removeFavs/{{_id}}" method="post">
            <button class="button" type="submit">Delete</button>
          </form>       
        </div>
      </div>
    {{/each}}

    {{#each favoriteCulture}}
      <div class="fav-card">
        <div class="fav-img-wrapper">
          <img src='{{this.imgUrl}}' alt='' />
        </div>
        <div class="fav-info">
          <p>{{this.name}}</p>        
          <form action="/profile/removeFavs/{{_id}}" method="post">
            <button class="button" type="submit">Delete</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
  <br>
  <hr />
  <br>
  <h3>Personal reviews</h3>
  <br>
  <div class="show-reviews">
    <div class="show-reviews-category">
      <h3>Culture:</h3>      
      {{#each reviewCulture}}      
      <p>{{this.content}}</p>
      <!-- Deleting the Review -->
        <form action='/{{_id}}/culture-delete/{{../_id}}' method='post'>
          <button class="button" type='submit'>Delete</button>
        </form>
      {{/each}}

    </div>
    
    <div class="show-reviews-category">
      <h3>Leisure:</h3>
      <br>
      {{#each reviewLeisure}}
      <p>{{this.content}}</p>
      <!-- Deleting the Review -->
        <form action='/{{_id}}/leisure-delete/{{../_id}}' method='post'>
          <button class="button" type='submit'>Delete</button>
        </form>
      {{/each}}
    </div>
    
    <div class="show-reviews-category">
      <h3>Food and Drinks:</h3>
      <br>
      {{#each reviewFooddrink}}
      <p>{{this.content}}</p>  
      <!-- Deleting the Review -->
        <form action='/{{_id}}/fooddrink-delete/{{../_id}}' method='post'>
          <button class="button" type='submit'>Delete</button>
        </form>
      {{/each}}
    </div>
    <br>
  </div> 
</div>
  