<h1>{{name}}</h1>
<br />
<p>Description: {{description}}</p>
<p>Address: {{address}}</p>
<p>Website: <a href={{spotUrl}}>{{spotUrl}}</a></p>
<p>Schedule: {{schedule}}</p>

<form action='/cultureSpots/addFavs/{{_id}}' method='post'><button
    type='submit'
  >Add Favorite Spot</button>
</form>

<!-- Review Section -->
<h4>Leave a Review!</h4>
<!-- Form to Create a Review -->
<form action='/review/culture/{{_id}}' method='post'>

  <label for='content'>Content of the Review</label>
  <textarea
    name='content'
    id='content'
    cols='30'
    rows='5'
    placeholder='Write your Review here'
  ></textarea>
  <button type='submit'>Create the review</button>
</form>
<!-- End of the Form to Create a Review -->
<br />
<!-- Display all the Reviews of the Culture Spot that we're seeing -->
{{#each reviews}}
  <div>
    <!-- Actually displaying the review -->
    <p><span>Review Author: {{author.username}}</span> <br />{{content}}</p>
    
  </div>
{{/each}}
<br />
<a href='/cultureSpots'>Return</a>